
.like-button {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  width: 75px;
  cursor: pointer;
  opacity: .7;
  z-index: 1;
}

input{
    display: block;
    width: 80%;
    padding: 4px 
}

link{
  gap:2rem;
}